@using Core.Application.ViewModels.User
@model List<UserGetAllViewModel>
@{
    ViewData["Title"] = "Admin Panel";
}


<div>
    <div id="Cardnfo" style="padding-top: 5%; padding-left: 5%">
        <div class="card mb-5" style="width: 90rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row m-3">
                            <div class="col-3">
                                <h1>Usuarios</h1>
                            </div>
                            <div class="col-3 offset-6" style="padding-left: 15%">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear Usuario</button>
                            </div>
                        </div>
                        <hr />

                        <table class="table">
                            <thead>
                                <tr>
                                <tr>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Empleado</th>
                                    <th scope="col">Admin</th>
                                    <th scope="col">Activo</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Desactivar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <th scope="row">@user.Id</th>
                                        <td>@user.Name</td>
                                        <td>@user.LastName</td>
                                        <td>@user.Email</td>
                                        <td>@user.UserName</td>
                                        <td>
                                            @if (user.EsEmpleado == 0)
                                            {
                                                <div>
                                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalEmpleado" data-idEmpleadoProyectos="@user.Id" onclick="updateInputValue(this)">Crear</button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    <a asp-controller="Employee" asp-action="info" asp-route-Id="@user.Id" type="button" class="btn btn-primary">Ver</a>
                                                </div>
                                            }
                                        </td>
                                        <td>@(user.IsAdmin ? "Si" : "No")</td>
                                        <td>@(user.IsActive  ? "Si" : "No")</td>
                                        <td>
                                            <button class="btn btn-warning"><a asp-controller="Admin" asp-action="EditarUsuario" asp-route-id="@user.Id">Editar</a></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger"><a asp-controller="Admin" asp-action="Desactivar" asp-route-id="@user.Id">Cambiar Estatus</a></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

        @if (ViewBag.errors != null && ViewBag.errors.Length > 0)
        {
            <div class="toast-container position-static">
                @foreach (var error in ViewBag.errors)
                {
                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <img src="https://img.freepik.com/vector-premium/signo-pintado-pincel-ilustracion-estilo-dibujado-mano-efecto-grunge-signo_546559-113.jpg" class="rounded me-2" width="20" height="20" alt="...">
                                <strong class="me-auto">Error</strong>
                                <small>Ahora Mismo</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                @error
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <form method="post" asp-controller="Admin" asp-action="CreateUser">
                            <div class="row">
                                <div>
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Usuario</label>
                                        <input type="text" class="form-control" id="username" name="UserName" aria-describedby="username">
                                    </div>

                                    <div class="mb-3">
                                        <label for="name" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="name" name="Name" aria-describedby="name">
                                    </div>

                                    <div class="mb-3">
                                        <label for="lastname" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" id="lastname" name="LastName">
                                    </div>

                                    <div class="mb-3">
                                        <label for="cedula" class="form-label">Cedula</label>
                                        <input type="number" class="form-control" id="cedula" name="Identification">
                                    </div>

                                    <div class="mb-3">
                                        <label for="conpsw" class="form-label">Repite la contraseña</label>
                                        <input type="password" class="form-control" id="conpsw" name="ConfirmPassword">
                                    </div>

                                    <div class="mb-3">
                                        <label for="psw" class="form-label">Contraseña</label>
                                        <input type="password" class="form-control" id="psw" name="Password">
                                    </div>

                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="IsAdmin">
                                        <label class="form-check-label" for="exampleCheck1">¿Es administrador?</label>
                                    </div>

                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" name="Email">
                                    </div>

                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Telefono</label>
                                        <input type="tel" class="form-control" id="phone" name="Phone">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalEmpleado" tabindex="-1" aria-labelledby="ModalEmpleado" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalEmpleado">Crear Empleado</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <form method="post" asp-controller="Admin" asp-action="CreateEmpleado">
                            <div class="row">
                                <div>
                                    <input value="1" name="IdentityId" id="IdentityId" hidden />
                                    <div class="mb-3">
                                        <label for="FechaNacimiento" class="form-label">Fecha Nacimiento</label>
                                        <input type="date" class="form-control" id="FechaNacimiento" name="FechaNacimiento" aria-describedby="username">
                                    </div>
                                    <div class="mb-3">
                                        <label for="Sexo" class="form-label">Genero</label>
                                        <select class="form-select" name="Sexo" aria-label="Default select example">
                                            <option selected>Selecciona un sexo</option>
                                            <option value="0">Femenino</option>
                                            <option value="1">Masculino</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Celular" class="form-label">Celular</label>
                                        <input type="tel" class="form-control" id="Celular" name="Celular" aria-describedby="username">
                                    </div>
                                  @*<div class="mb-3">
                                        <label for="tipoPago" class="form-label">Tipo Pago</label>
                                        <input type="text" class="form-control" id="tipoPago" name="tipoPago" aria-describedby="username">
                                    </div> *@
                                    <div class="mb-3">
                                        <label for="IdNacionalidad" class="form-label">Nacionalidad</label>
                                        <select class="form-select" name="IdNacionalidad" aria-label="Default select example">
                                            <option selected>Selecciona tu nacionalidad</option>
                                            @foreach (var i in ViewBag.Nacionalidades)
                                            {
                                                <option value="@i.Id">@i.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Direccion" class="form-label">Direccion</label>
                                        <input type="text" class="form-control" id="Direccion" name="Direccion" aria-describedby="username">
                                    </div>
                                    <div class="mb-3">
                                        <label for="IdProvincia" class="form-label">Provincia</label>
                                        <select class="form-select" name="IdProvincia" aria-label="Default select example">
                                            <option selected>Selecciona tu provincia</option>
                                            @foreach (var i in ViewBag.Provincias)
                                            {
                                                <option value="@i.Id">@i.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="IdEstado" class="form-label">Estado</label>
                                        <select class="form-select" name="IdEstado" aria-label="Default select example">
                                            <option selected>Selecciona tu estado</option>
                                            @foreach (var i in ViewBag.Estados)
                                            {
                                                <option value="@i.Id">@i.Nombre</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="IdTipoCuenta" class="form-label">TipoCuenta</label>
                                        <select class="form-select" name="IdTipoCuenta" aria-label="Default select example">
                                            <option selected>Selecciona tu nacionalidad</option>
                                            @foreach (var i in ViewBag.TipoCuenta)
                                            {
                                                <option value="@i.Id">@i.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="IdTipoBanco" class="form-label">Banco</label>
                                        <select class="form-select" name="IdTipoBanco" aria-label="Default select example">
                                            <option selected>Selecciona tu nacionalidad</option>
                                            @foreach (var i in ViewBag.TipoBanco)
                                            {
                                                <option value="@i.Id">@i.Nombre</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="Cuenta" class="form-label">Cuenta</label>
                                        <input type="text" class="form-control" id="Cuenta" name="Cuenta" aria-describedby="username">
                                    </div>

                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = (event) => {
        let myAlert = document.querySelectorAll('.toast');
        myAlert.forEach((toast, index) => {
            let bsToast = new bootstrap.Toast(toast);
            bsToast.show();
        });
    }
    function updateInputValue(button) {
        var idEmpleadoProyectos = button.getAttribute('data-idEmpleadoProyectos');
        console.log('Id Empleado Proyectos:', idEmpleadoProyectos);
        document.getElementById('IdentityId').value = idEmpleadoProyectos;
    }
 </script>