

@using Core.Application.DTOs.Actividades
@model List<GetAllActividadesResponseDTO>
@{
    ViewData["Title"] = "Actividades Panel";
}


<div>
    <div class="row m-3">
        <div class="col-3 offset-9">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear Actividad</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
            <tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Monto</th>
                <th scope="col">Esta asignado?</th>
                <th scope="col">Ver</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="6">No hay registros</td>
                </tr>
            }
            else
            {
                @foreach (var act in Model)
                {
                    <tr>
                        <th scope="row">@act.Id</th>
                        <td>@act.Titulo</td>
                        <td>@act.Monto</td>
                        <td>@act.HaveEmployee</td>

                        <td>
                            <button class="btn btn-warning"><a asp-controller="Actividades" asp-action="Info" asp-route-id="@act.Id" asp-route-IdProyecto="@act.IdProyecto">Ver</a></button>
                        </td>
                        <td>
                            <button class="btn btn-danger"><a asp-controller="Actividades" asp-action="EliminarActividad" asp-route-id="@act.Id">Eliminar</a></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Tarea</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-controller="Actividades" asp-action="CreateTarea">
                        <div class="mb-3">
                            <label for="Titulo" class="form-label">Titutlo</label>
                            <input type="text" class="form-control" name="Titulo" id="Titulo" placeholder="Actualizar DB">
                        </div>
                        <select class="form-select" name="IdProyecto" aria-label="Default select example">
                            <option selected>Selecciona el proyecto</option>
                            @foreach (var i in ViewBag.Proyectos)
                            {
                                <option value="@i.Id">@i.Nombre</option>
                            }
                        </select>

                        <div class="mb-3">
                            <label for="Monto" class="form-label">Pago</label>
                            <input type="number" class="form-control" name="Monto" id="Monto" placeholder="1000.00">
                        </div>
                        <div class="mb-3">
                            <label for="Descripcion" class="form-label">Descripcion</label>
                            <textarea class="form-control" name="Descripcion" id="Descripcion" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>