@using Core.Application.DTOs.Empleados;
@model List<GetAllEmpleadosResponseDTO>
@{
    ViewData["Title"] = "Admin Employee";
}


<div>
    <table class="table">
        <thead>
            <tr>
            <tr>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Genero</th>
                <th scope="col">Telefono</th>
                <th scope="col">Ponche</th>
                <th scope="col">Historico Pago</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.Nombre</td>
                    <td>@user.Apellido</td>
                    <td>@user.Email</td>
                    <td>@user.Sexo</td>
                    <td>@user.Telefono</td>
                    <td>
                        <button class="btn btn-warning"><a asp-controller="Employee" asp-action="InfoPoncheEmployee" asp-route-id="@user.Id">Ver</a></button>
                    </td>
                    <td>
                        <button class="btn btn-danger"><a asp-controller="Pago" asp-action="HistoricoEmployee" asp-route-id="@user.Id">Ver</a></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>