@using Core.Application.DTOs.EmpleadoProyecto
@model List<EmpleadoProyectoReponseDTO>
@{
    ViewData["Title"] = "User";
}

<style>
    .asis {
        min-width: 400px;
        min-height: 400px;
    }
</style>
<div class="container">
    <div id="Cardnfo" style="padding-top: 5%; padding-left: 5%">
        <div class="card mb-5" style="width: 90rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row m-3">
                            <div class="col-3">
                                <h1>Usuarios</h1>
                            </div>
                        </div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Empleado.Nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FirstOrDefault().Empleado.Nombre)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Empleado.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FirstOrDefault().Empleado.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Empleado.Celular)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FirstOrDefault().Empleado.Celular)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Ponche" style="padding-left: 5%">
        <div class="text-center">
            <div class="row row-cols-4">
                @foreach (var item in Model)
                {
                        @if(item.Proyecto != null)
                        {
                            <div id="Empleados">
                                <div class="card text-center" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Proyecto.Nombre</h5>
                                        <p class="card-text">@item.Proyecto.Cliente</p>
                                        <button type="button" class="btn btn-primary editarEmpleado" data-bs-toggle="modal" data-bs-target="#ListaModal" data-idEmpleadoProyectos="@item.Id">Lista</button>
                                    </div>
                                </div>
                        </div>
                    }
                    else
                    {
                        <h5> No tienes proyectos asignados aun </h5>
                    }
                }
            </div>
        </div>
    </div>

    <div id="ModalLista">
        <div class="modal fade" id="ListaModal" tabindex="-1" aria-labelledby="ListaModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ListaModal">Click para ponchar!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" asp-controller="Employee" asp-action="Ponche">
                        <div class="modal-body">
                            <div class="mb-3">
                                <div class-="container">
                                    <div class="text-center">
                                        <form method="post" asp-controller="Asistencia" asp-action="AddPonche">
                                            <div class="col">
                                                <input name="id" id="idInput" value="55" hidden />
                                                <button type="submit" class="btn btn-primary rounded-circle asis">
                                                    <i class="bi bi-person-check-fill" style="font-size: 250px;"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll('.editarEmpleado');

        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var idEmpleadoProyectos = button.getAttribute('data-idEmpleadoProyectos');
                document.getElementById('idInput').value = idEmpleadoProyectos;
            });
        });
    });
</script>
