@using Core.Application.DTOs.EmpleadoProyecto
@model List<EmpleadoProyectoReponseDTO>
@{
    ViewData["Title"] = "User";
}

<style>
    .asis {
        min-width: 400px;
        min-height: 400px;
    }
</style>
<div class="container">
    <div id="Cardnfo" style="padding-top: 5%; padding-left: 5%">
        <div class="card mb-5" style="width: 90rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Info Usuario</h1>
                        <hr />

                        @if(Model == null)
                        {
                            <div>
                                No Tienes Perfil De Empleado
                            </div>
                        }
                        else
                        {
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Empleado.Nombre)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FirstOrDefault().Empleado.Nombre)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Empleado.Email)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FirstOrDefault().Empleado.Email)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Empleado.Celular)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FirstOrDefault().Empleado.Celular)
                                </dd>
                            </dl>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Ponche" style="padding-left: 5%">
        <div class="text-center">
            <div class="row row-cols-4">
                @foreach (var item in Model)
                {
                    @if (item.Proyecto != null)
                    {
                        <div id="Empleados">
                            <div class="card text-center" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Proyecto.Nombre</h5>
                                    <p class="card-text">@item.Proyecto.Cliente</p>
                                    @* <button type="button" class="btn btn-primary editarEmpleado" data-bs-toggle="modal" data-bs-target="#ListaModal" data-idEmpleadoProyectos="@item.Id">Lista</button> *@
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
